body {
    background-color: rgb(96, 125, 139);
    font-family: 'New Tegomin', serif;
}

#title-nav {
    font-size: 25px;
}

.classProjetos {
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    font-size: 22px;
    color: rgb(96, 125, 139);
}

#itens-projetos:hover {
    font-size: 22px;
    color: rgb(96, 125, 139);
}

section {
    -webkit-box-shadow: 5px 5px 50px -5px rgba(0,0,0,0.7); 
    box-shadow: 5px 5px 50px -5px rgba(0,0,0,0.7);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 100px;
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

section h1 {
    text-align: center;
    font-size: 25px;
}

header {
    background-image: url("https://wallpapercave.com/wp/wp1828946.png");
    background-size: contain;
    height: 80px;
    border-radius: 5px;
}

div, #projetos {
    padding: 15px;
    background-color: #bac3d6;
    border: 1px solid black;
    border-radius: 5px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-40%);
    border: 5px solid white;
}
